
.wave > svg {
    display: block;
    height: 130px;
}

.wave > h1 {
    position: absolute;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}

ion-fab-button {
    margin: 5px;
}