<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <div class="logotipo">
      <img src="../../assets/logo.png" alt="">
    </div>

    <ion-slides [options]="options">

      <ion-slide *ngFor="let char of Characters.results">
        <ion-grid>
          <ion-row>
            <ion-col [routerLink]="['/characters', char.id]" size="12" class="poster-col">
              <img [src]="char.image" alt="">
              <h5 class="ion-no-margin">{{char.name}}</h5>
              <p class="ion-no-margin rate">
                {{char.species}}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

    </ion-slides>

  </div>
  
</ion-content>
