ion-toolbar {
    --background: rgba(0,0,0,0);
}

.logotipo img{
  margin: 20px 0;
}

.poster-col {
    height: 300px;
    img {
      border-radius: 40px;
      width: 250px;
      // width: 200px;
    }
  }

@media (max-width: 360px) {
  .poster-col {
    img {
      width: 200px;
    }
  }
}

.rate {
  font-size: 14px;
  padding-top: 4px;
}
h5 {
  margin-top: 0;
}

.swiper-slide-prev{
    opacity: .5;
    transform: rotate(-8deg);
  }
  .swiper-slide-next{
    opacity: .5;
    transform: rotate(8deg);
  }
  
  .swiper-slide {
    transition: .4s all;
  }

  ion-toolbar {
    color: white;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    --background: #272942;
  }

  ion-content {
    font-family: 'Quicksand', sans-serif;
    // --background: #1C2039;

    h5 {
      color: #1C2039;
    }

    p {
      color: #1C2039;
    }
  }