<ion-header [translucent]="true" class="ion-no-border">
  <div class="wave">
    <h1>
      Search your character
    </h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#272942" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,202.7C640,203,800,245,960,240C1120,235,1280,181,1360,154.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titles">
    <ion-searchbar 
      #inputSeach
      class="ion-no-padding ion-padding-top" 
      placeholder="Character name"
      (keyup)="onSearch(inputSeach.value)">
    </ion-searchbar>
  </div>

  <div class="ion-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let char of Characters.results">
        <ion-card [routerLink]="['/characters', char.id]">
          <img [src]="char.image" alt="">
          <ion-card-content>
            <ion-card-subtitle>
              {{char.name}}
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
