<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" *ngFor="let loca of Locations.results">
        <ion-card >
          <ion-card-header>
            <ion-card-subtitle>Type: {{loca.type}}</ion-card-subtitle>
            <ion-card-title>Name: {{loca.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Dimension: {{loca.dimension}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
