<ion-content class="ion-no-padding" >

  <div class="character-img">
    <img [src]="Character.image" alt="">
  </div>

  <div class="ion-padding character-description">
    <h1>{{Character.name}}</h1>
    <h4>Status: {{Character.status}}</h4>
    <h4>Specie: {{Character.species}}</h4>
    <h4>Gender: {{Character.gender}}</h4>
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-fab-button color="success" routerLink="/" slot="end">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-footer>